version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime
    ports:
      - "8069:8069"
    environment:
      - DATABASE_URL=${DATABASE_URL}
    restart: unless-stopped
    network_mode: host

  test:
    build:
      context: .
      dockerfile: Dockerfile
      target: test
    environment:
      - DATABASE_URL=${DATABASE_URL}
    network_mode: host
