name: CI-CD

on:
  push:
    branches: [ master ]

permissions:
  contents: read
  packages: write

env:
  IMAGE: ghcr.io/lllkomahdorlll/university_linux_7sem

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

      - name: Build & push runtime image
        working-directory: /docker
        run: |
          set -e
          docker build --target runtime -t "${IMAGE}:${{ github.sha }}" .
          docker push "${IMAGE}:${{ github.sha }}"

      - name: Build & push test image
        run: |
          set -e
          docker build --target test -t "${IMAGE}:test-${{ github.sha }}" .
          docker push "${IMAGE}:test-${{ github.sha }}"

  test:
    runs-on: ubuntu-latest
    needs: build

    services:
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_USER: testuser
          POSTGRES_PASSWORD: testpass
          POSTGRES_DB: testdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Login to GHCR
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

    - name: Pull TEST image
      run: docker pull "${IMAGE}:test-${{ github.sha }}"

    - name: Run tests
      run: docker compose run --rm test -e DATABASE_URL="postgresql+psycopg://testuser:testpass@localhost:5432/testdb" "${IMAGE}:test-${{ github.sha }}"

  deploy:
    needs: test
    runs-on: self-hosted
    if : github.ref == 'refs/heads/master'

    steps:
    - name: Login to GHCR (podman)
      working-directory: ./docker
      run: echo "${{ secrets.GITHUB_TOKEN }}" | podman login ghcr.io -u "${{ github.actor }}" --password-stdin

    - name: Create .env file
      working-directory: ./docker
      run: |
        cat > .env << EOF
        DATABASE_URL=${{ secrets.DATABASE_URL }}
        APP_PORT=8069
        EOF

    - name: Pull runtime image
      run: docker pull "${IMAGE}:${{ github.sha }}"

    - name: Start new container
      run: |
        podman run -d \
          --replace \
          --name fastapi-app-orl \
          --network host \
          -e DATABASE_URL=${{ secrets.DATABASE_URL }} \
          --restart unless-stopped \
          "${IMAGE}:${{ github.sha }}"
